.pickResult {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}

.pickResult:before {
    
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
  }

  .pickResult:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }

.hoverResult {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
  }