<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Udayanto" src="{{ site.url }}/images/bio-photo.jpg">
        </div>
        <div class="social-links">
            <a class="social" href="https://www.instagram.com/udayudayanto/">
                <i class="fa fa-instagram">
                </i>
            </a>
            <!-- <a class="social" href="http://medium.com/@nmonarizqa">
                <i class="fa fa-medium">
                </i>
            </a> -->
            <a class="social" href="mailto:udayanto.atmojo@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="https://www.linkedin.com/in/udayanto-dwi-atmojo/">
                <i class="fa fa-linkedin">
                </i>
            </a>
            <a class="social" href="https://twitter.com/udayantouday">
                <i class="fa fa-twitter">
                </i>
            </a>
        </div>
        <p class="description">It's me</p>

    </div>

</div>